Repository Majkie/otelguard: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-lint, go-mod-tidy, ts-lint, ts-format

lefthook.yml:

# OTelGuard Pre-commit Hooks Configuration
# Install: go install github.com/evilmartians/lefthook@latest && lefthook install

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: cd backend && gofmt -l -w {staged_files}
      stage_fixed: true

    go-imports:
      glob: "*.go"
      run: cd backend && goimports -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "*.go"
      run: cd backend && golangci-lint run --fast --new-from-rev=HEAD~1

    go-mod-tidy:
      glob: "go.{mod,sum}"
      run: cd backend && go mod tidy && git diff --exit-code go.mod go.sum

    ts-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: cd frontend && npm run lint -- {staged_files}

    ts-format:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: cd frontend && npx prettier --write {staged_files}
      stage_fixed: true

    no-secrets:
      glob: "*"
      exclude: "*.{lock,sum}|node_modules/**"
      run: |
        if git diff --cached --name-only | xargs grep -l -E "(password|secret|api_key|private_key)\s*[:=]\s*['\"][^'\"]+['\"]" 2>/dev/null; then
          echo "Warning: Potential secrets detected in staged files"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    go-test:
      glob: "*.go"
      run: cd backend && go test -short ./...

    go-build:
      glob: "*.go"
      run: cd backend && go build -o /dev/null ./cmd/server

    ts-typecheck:
      glob: "*.{ts,tsx}"
      run: cd frontend && npm run typecheck

commit-msg:
  commands:
    conventional-commit:
      run: |
        MSG=$(cat "$1")
        PATTERN="^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .{1,72}"
        if ! echo "$MSG" | grep -qE "$PATTERN"; then
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>(<scope>): <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo "Example: feat(auth): add password reset flow"
          exit 1
        fi

feat(di): implement Wire dependency injection for clean code organization
  backend/cmd/server/main.go
  backend/cmd/server/wire.go
  backend/cmd/server/wire_gen.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/grpc/otlp_service.go
  backend/internal/service/sampler.go
  backend/internal/wire/database.go
  backend/internal/wire/handler.go
  backend/internal/wire/providers.go
  backend/internal/wire/repository.go
  backend/internal/wire/service.go
Due: go-fmt, go-imports, go-lint

docs: document Wire dependency injection setup
  CLAUDE.md
  README.md
Due: ts-format

feat(prompts): complete Phase 3 prompt management features
  backend/internal/api/handlers/prompt.go
  backend/internal/api/routes.go
  backend/internal/repository/postgres/prompt_repo.go
  backend/internal/service/prompt_service.go
  frontend/src/api/prompts.ts
  frontend/src/pages/prompts/detail.tsx
  frontend/src/pages/prompts/index.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

docs: update PLAN.md with Phase 3 completion status
  PLAN.md
Due: ts-format

feat(prompts): complete Phase 3 prompt management features
  backend/internal/api/handlers/prompt.go
  backend/internal/api/routes.go
  backend/internal/domain/trace.go
  backend/internal/service/prompt_service.go
  frontend/src/api/prompts.ts
  frontend/src/components/features/prompts/playground.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/pages/prompts/detail.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

WIP
  .gitignore
  docker-compose.yml
Due: none

WIP
  .gitignore
  frontend/package-lock.json
  frontend/package.json
Due: ts-format

chore: improve dev environment with hot reload
  .gitignore
  Makefile
  backend/.air.toml
  backend/.env.development
  docker-compose.yml
  frontend/.env.development
  frontend/vite.config.ts
Due: ts-lint, ts-format

fix: simplify dev environment with Docker hot reload
  Makefile
  backend/.env.development
  backend/Dockerfile.dev
  docker-compose.yml
  frontend/.env.development
  frontend/vite.config.ts
Due: ts-lint, ts-format

WIP
  backend/Dockerfile.dev
  backend/migrations/clickhouse/001_traces.sql
  backend/migrations/clickhouse/002_events.sql
  backend/migrations/clickhouse/003_attributes.sql
  docker-compose.yml
Due: none

feat: implement agent data model and graph processing (6.1 & 6.2)
  PLAN.md
  backend/cmd/server/wire_gen.go
  backend/internal/api/handlers/agent.go
  backend/internal/api/routes.go
  backend/internal/domain/agent.go
  backend/internal/domain/graph.go
  backend/internal/repository/clickhouse/agent_repo.go
  backend/internal/service/agent_service.go
  backend/internal/wire/handler.go
  backend/internal/wire/repository.go
  backend/internal/wire/service.go
  backend/migrations/clickhouse/005_agents.sql
Due: go-fmt, go-imports, go-lint, ts-format

feat: implement graph visualization UI (6.4)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/agents.ts
  frontend/src/components/features/agents/agent-edge.tsx
  frontend/src/components/features/agents/agent-graph.tsx
  frontend/src/components/features/agents/agent-node.tsx
  frontend/src/components/features/agents/index.ts
  frontend/src/components/features/agents/node-detail-panel.tsx
  frontend/src/components/features/layout/dashboard-layout-updated.tsx
  frontend/src/pages/agents/detail.tsx
  frontend/src/pages/agents/index.tsx
  frontend/src/types/agent.ts
Due: ts-lint, ts-format

WIP
  backend/cmd/server/wire_gen.go
  backend/internal/api/handlers/agent.go
  backend/internal/api/handlers/trace.go
  backend/internal/api/middleware/auth.go
  backend/internal/api/routes.go
  backend/internal/database/migrate.go
  backend/internal/database/migrations/000001_initial_schema.down.sql
  backend/internal/database/migrations/000001_initial_schema.up.sql
  backend/internal/database/migrations/000002_auth_features.down.sql
  backend/internal/database/migrations/000002_auth_features.up.sql
  backend/internal/database/migrations/000003_annotation_tables.down.sql
  backend/internal/database/migrations/000003_annotation_tables.up.sql
  backend/internal/database/migrations/000004_user_feedback.down.sql
  backend/internal/database/migrations/000004_user_feedback.up.sql
  backend/internal/database/migrations/000005_feedback_score_mappings.down.sql
  backend/internal/database/migrations/000005_feedback_score_mappings.up.sql
  backend/internal/database/migrations/000006_fix_ip_address_type.down.sql
  backend/internal/database/migrations/000006_fix_ip_address_type.up.sql
  backend/internal/database/migrations/postgres/000001_initial_schema.down.sql
  backend/internal/database/migrations/postgres/000001_initial_schema.up.sql
  backend/internal/database/migrations/postgres/000002_auth_features.down.sql
  backend/internal/database/migrations/postgres/000002_auth_features.up.sql
  backend/internal/domain/agent.go
  backend/internal/domain/graph.go
  backend/internal/repository/clickhouse/agent_repo.go
  backend/internal/service/agent_service.go
  backend/internal/wire/database.go
  backend/migrations/clickhouse/005_agents.sql
  backend/scripts/check_migrations.go
  backend/scripts/seed_agents.go
  frontend/src/components/features/agents/agent-graph.tsx
  frontend/src/components/features/agents/node-detail-panel.tsx
  frontend/src/pages/agents/detail.tsx
  frontend/src/pages/agents/index.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

WIP
  PLAN.md
Due: ts-format

feat: implement timeline view for multi-agent visualization (6.5)
  PLAN.md
  frontend/src/components/features/agents/agent-timeline.tsx
  frontend/src/components/features/agents/index.ts
  frontend/src/lib/timeline.ts
  frontend/src/pages/agents/detail.tsx
Due: ts-lint, ts-format

feat: implement LLM-as-a-Judge evaluation system (4.2)
  PLAN.md
  backend/cmd/server/wire_gen.go
  backend/internal/api/handlers/evaluator.go
  backend/internal/api/routes.go
  backend/internal/database/migrations/000007_evaluators.down.sql
  backend/internal/database/migrations/000007_evaluators.up.sql
  backend/internal/domain/evaluator.go
  backend/internal/domain/evaluator_templates.go
  backend/internal/repository/clickhouse/evaluation_repo.go
  backend/internal/repository/postgres/evaluator_repo.go
  backend/internal/service/evaluator_service.go
  backend/internal/wire/handler.go
  backend/internal/wire/repository.go
  backend/internal/wire/service.go
  backend/migrations/clickhouse/006_evaluation_results.sql
  frontend/src/App.tsx
  frontend/src/api/evaluators.ts
  frontend/src/pages/evaluators/detail.tsx
  frontend/src/pages/evaluators/index.tsx
  frontend/src/pages/evaluators/results.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

WIP
  backend/internal/database/migrations/000007_evaluators.up.sql
Due: none

feat: implement datasets & experiments system (4.5)
  backend/cmd/server/wire_gen.go
  backend/internal/api/handlers/dataset.go
  backend/internal/api/handlers/experiment.go
  backend/internal/api/routes.go
  backend/internal/database/migrations/000008_experiments.down.sql
  backend/internal/database/migrations/000008_experiments.up.sql
  backend/internal/domain/entities.go
  backend/internal/repository/postgres/dataset_repo.go
  backend/internal/repository/postgres/experiment_repo.go
  backend/internal/service/dataset_service.go
  backend/internal/service/experiment_service.go
  backend/internal/wire/handler.go
  backend/internal/wire/providers.go
  backend/internal/wire/repository.go
  backend/internal/wire/service.go
Due: go-fmt, go-imports, go-lint

feat: implement guardrail policy matching and priority system (5.1)
  PLAN.md
  backend/internal/service/guardrail_service.go
Due: go-fmt, go-imports, go-lint, ts-format

feat: add statistical significance testing & policy versioning (4.5 & 5.1)
  PLAN.md
  backend/internal/api/handlers/experiment.go
  backend/internal/api/handlers/guardrail.go
  backend/internal/api/routes.go
  backend/internal/database/migrations/000009_guardrail_versioning.down.sql
  backend/internal/database/migrations/000009_guardrail_versioning.up.sql
  backend/internal/domain/entities.go
  backend/internal/repository/postgres/guardrail_repo.go
  backend/internal/service/experiment_service.go
  backend/internal/service/guardrail_service.go
Due: go-fmt, go-imports, go-lint, ts-format

WIP
  backend/cmd/server/wire_gen.go
  backend/internal/api/handlers/evaluator.go
  backend/internal/api/handlers/guardrail.go
  backend/internal/database/migrations/000007_evaluators.up.sql
  backend/internal/database/migrations/000009_guardrail_versioning.up.sql
  backend/internal/service/evaluator_service.go
  frontend/src/api/evaluators.ts
  frontend/src/pages/evaluators/index.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: implement built-in validators, auto-remediation & score analytics (5.2, 5.3, 4.6)
  backend/cmd/server/wire_gen.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/score_analytics.go
  backend/internal/service/guardrail_service.go
  backend/internal/service/remediation_service.go
  backend/internal/service/score_analytics_service.go
  backend/internal/service/validator_service.go
  backend/internal/wire/service.go
  frontend/src/components/features/guardrails/rule-builder.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: add score analytics frontend components with advanced charts
  frontend/src/api/score-analytics.ts
  frontend/src/components/features/scores/advanced-analytics.tsx
Due: ts-lint, ts-format

feat: implement experiment comparison UI & guardrails analytics (4.5, 5.7)
  backend/cmd/server/wire_gen.go
  backend/internal/api/handlers/guardrail_analytics.go
  backend/internal/api/routes.go
  backend/internal/service/guardrail_analytics_service.go
  backend/internal/wire/handler.go
  backend/internal/wire/service.go
  frontend/src/api/experiments.ts
  frontend/src/api/guardrail-analytics.ts
  frontend/src/components/features/experiments/experiment-comparison.tsx
  frontend/src/components/features/guardrails/guardrails-analytics.tsx
  frontend/src/pages/experiments/comparison.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: implement advanced guardrail evaluation features (Task 5.4)
  backend/internal/api/handlers/guardrail_advanced.go
  backend/internal/service/async_evaluation_service.go
  backend/internal/service/batch_evaluation_service.go
  backend/internal/service/circuit_breaker.go
  backend/internal/service/evaluation_cache.go
Due: go-fmt, go-imports, go-lint

feat: implement policy testing interface (Task 5.6)
  frontend/src/components/features/guardrails/policy-tester.tsx
Due: ts-lint, ts-format

feat: implement advanced score analytics and experiment comparison UI (4.5, 4.6)
  backend/internal/api/routes.go
  frontend/src/App.tsx
  frontend/src/pages/experiments/compare.tsx
  frontend/src/pages/scores/advanced-analytics.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: implement comprehensive guardrails analytics dashboard (5.7)
  frontend/src/App.tsx
  frontend/src/pages/guardrails/analytics.tsx
Due: ts-lint, ts-format

feat: implement advanced guardrails and experiment features (Tasks 4.5, 5.1, 5.4)
  backend/internal/api/handlers/experiment.go
  backend/internal/api/handlers/guardrail.go
  backend/internal/api/routes.go
  backend/internal/service/experiment_scheduler.go
  backend/internal/service/guardrail_async.go
  backend/internal/service/guardrail_cache.go
  backend/internal/service/guardrail_service.go
Due: go-fmt, go-imports, go-lint

docs: update PLAN.md with completed tasks
  PLAN.md
Due: ts-format

feat: implement metrics engine and analytics dashboards (Phase 7.1, 7.3)
  PLAN.md
  backend/cmd/server/wire_gen.go
  backend/internal/api/handlers/metrics.go
  backend/internal/api/routes.go
  backend/internal/service/metrics_service.go
  backend/internal/wire/handler.go
  backend/internal/wire/service.go
  frontend/src/api/metrics.ts
  frontend/src/pages/dashboard/cost-analytics.tsx
  frontend/src/pages/dashboard/overview.tsx
  frontend/src/pages/dashboard/quality-metrics.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: implement Phase 7.3 and 7.4 - visualization components and analytics dashboards
  PLAN.md
  frontend/src/App.tsx
  frontend/src/components/charts/bar-chart.tsx
  frontend/src/components/charts/heatmap.tsx
  frontend/src/components/charts/index.ts
  frontend/src/components/charts/line-chart.tsx
  frontend/src/components/charts/metric-card.tsx
  frontend/src/components/charts/pie-chart.tsx
  frontend/src/components/charts/sparkline.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/dashboard/guardrails-analytics.tsx
  frontend/src/pages/dashboard/prompt-performance.tsx
  frontend/src/pages/dashboard/usage-analytics.tsx
Due: ts-lint, ts-format

feat: implement Phase 7.2 - Dashboard Framework backend infrastructure
  backend/internal/api/handlers/dashboard.go
  backend/internal/domain/dashboard.go
  backend/internal/repository/postgres/dashboard_repo.go
  backend/internal/service/dashboard_service.go
  backend/migrations/postgres/001_initial_schema.sql
Due: go-fmt, go-imports, go-lint

docs: update PLAN.md with Phase 7 progress
  PLAN.md
Due: ts-format

feat: complete Phase 7.2 dashboard framework integration
  PLAN.md
  backend/cmd/server/wire_gen.go
  backend/internal/api/routes.go
  backend/internal/wire/handler.go
  backend/internal/wire/repository.go
  backend/internal/wire/service.go
  frontend/src/App.tsx
  frontend/src/pages/dashboards/builder.tsx
  frontend/src/pages/dashboards/index.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: implement Phase 5.5 and 8.1 - Python SDK with guardrails
  PLAN.md
  sdk/python/README.md
  sdk/python/examples/async_usage.py
  sdk/python/examples/basic_tracing.py
  sdk/python/examples/guardrails.py
  sdk/python/examples/prompt_management.py
  sdk/python/otelguard/__init__.py
  sdk/python/otelguard/client/__init__.py
  sdk/python/otelguard/client/config.py
  sdk/python/otelguard/client/http_client.py
  sdk/python/otelguard/client/otelguard.py
  sdk/python/otelguard/exceptions.py
  sdk/python/otelguard/guardrails/__init__.py
  sdk/python/otelguard/guardrails/client.py
  sdk/python/otelguard/guardrails/guard.py
  sdk/python/otelguard/prompts/__init__.py
  sdk/python/otelguard/prompts/client.py
  sdk/python/otelguard/tracing/__init__.py
  sdk/python/otelguard/tracing/tracer.py
  sdk/python/otelguard/validators/__init__.py
  sdk/python/otelguard/validators/input_validators.py
  sdk/python/otelguard/validators/output_validators.py
  sdk/python/pytest.ini
  sdk/python/requirements-dev.txt
  sdk/python/requirements.txt
  sdk/python/setup.py
  sdk/python/tests/__init__.py
  sdk/python/tests/test_config.py
  sdk/python/tests/test_validators.py
Due: ts-format
