Repository Majkie/otelguard: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, go-lint, go-mod-tidy, ts-lint, ts-format

lefthook.yml:

# OTelGuard Pre-commit Hooks Configuration
# Install: go install github.com/evilmartians/lefthook@latest && lefthook install

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: cd backend && gofmt -l -w {staged_files}
      stage_fixed: true

    go-imports:
      glob: "*.go"
      run: cd backend && goimports -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "*.go"
      run: cd backend && golangci-lint run --fast --new-from-rev=HEAD~1

    go-mod-tidy:
      glob: "go.{mod,sum}"
      run: cd backend && go mod tidy && git diff --exit-code go.mod go.sum

    ts-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: cd frontend && npm run lint -- {staged_files}

    ts-format:
      glob: "*.{ts,tsx,js,jsx,json,css,md}"
      run: cd frontend && npx prettier --write {staged_files}
      stage_fixed: true

    no-secrets:
      glob: "*"
      exclude: "*.{lock,sum}|node_modules/**"
      run: |
        if git diff --cached --name-only | xargs grep -l -E "(password|secret|api_key|private_key)\s*[:=]\s*['\"][^'\"]+['\"]" 2>/dev/null; then
          echo "Warning: Potential secrets detected in staged files"
          exit 1
        fi

pre-push:
  parallel: true
  commands:
    go-test:
      glob: "*.go"
      run: cd backend && go test -short ./...

    go-build:
      glob: "*.go"
      run: cd backend && go build -o /dev/null ./cmd/server

    ts-typecheck:
      glob: "*.{ts,tsx}"
      run: cd frontend && npm run typecheck

commit-msg:
  commands:
    conventional-commit:
      run: |
        MSG=$(cat "$1")
        PATTERN="^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .{1,72}"
        if ! echo "$MSG" | grep -qE "$PATTERN"; then
          echo "Commit message must follow Conventional Commits format:"
          echo "  <type>(<scope>): <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo "Example: feat(auth): add password reset flow"
          exit 1
        fi

feat: implement Phase 7.5 Alerting System and Phase 6.3 Real-Time Updates
  PLAN.md
  backend/internal/api/handlers/alert.go
  backend/internal/api/handlers/websocket.go
  backend/internal/api/routes.go
  backend/internal/database/migrations/000010_alert_system.down.sql
  backend/internal/database/migrations/000010_alert_system.up.sql
  backend/internal/domain/alert.go
  backend/internal/repository/postgres/alert_repo.go
  backend/internal/service/alert_service.go
  backend/internal/service/notification_service.go
  backend/internal/service/websocket_service.go
  frontend/src/api/alerts.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/alerts/AlertHistoryPage.tsx
  frontend/src/pages/alerts/AlertRulesPage.tsx
  frontend/src/pages/alerts/components/AlertRuleDialog.tsx
  frontend/src/pages/alerts/components/AlertRulesTable.tsx
  frontend/src/pages/alerts/index.ts
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: implement advanced alerting features - escalation, custom metrics, and anomaly detection
  IMPLEMENTATION_SUMMARY.md
  PLAN.md
  backend/internal/repository/postgres/alert_repo.go
  backend/internal/service/alert_service.go
  backend/internal/service/escalation_service.go
Due: go-fmt, go-imports, go-lint, ts-format

fix: resolve all backend and frontend build errors
  backend/cmd/server/wire_gen.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/alert.go
  backend/internal/api/handlers/common.go
  backend/internal/api/handlers/experiment.go
  backend/internal/api/handlers/guardrail.go
  backend/internal/api/handlers/score_analytics.go
  backend/internal/api/handlers/websocket.go
  backend/internal/service/alert_service.go
  backend/internal/service/experiment_scheduler.go
  backend/internal/service/guardrail_async.go
  backend/internal/service/guardrail_cache.go
  backend/internal/service/guardrail_service.go
  backend/internal/service/llm_service.go
  backend/internal/service/pricing_service.go
  backend/internal/service/websocket_service.go
  backend/internal/wire/handler.go
  frontend/src/pages/dashboards/builder.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

WIP
  backend/internal/api/handlers/evaluator.go
  backend/internal/api/routes.go
  backend/internal/domain/evaluator.go
  backend/internal/repository/clickhouse/evaluation_repo.go
  backend/internal/repository/postgres/evaluator_repo.go
  backend/internal/service/evaluator_service.go
  frontend/src/components/features/layout/dashboard-layout-updated.tsx
  frontend/src/components/features/layout/dashboard-layout.tsx
  frontend/src/pages/evaluators/detail.tsx
  frontend/src/pages/evaluators/results.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

feat: improve navigation and standardize UI interactions
  frontend/src/App.tsx
  frontend/src/components/features/layout/dashboard-layout-updated.tsx
  frontend/src/pages/alerts/AlertHistoryPage.tsx
  frontend/src/pages/alerts/AlertRulesPage.tsx
  frontend/src/pages/dashboards/index.tsx
  frontend/src/pages/feedback/index.tsx
  frontend/src/pages/guardrails/index.tsx
  frontend/src/pages/prompts/index.tsx
Due: ts-lint, ts-format

feat: add collapsible navigation sections for better organization
  frontend/src/components/features/layout/dashboard-layout-updated.tsx
Due: ts-lint, ts-format

fix: resolve dashboard project context, analytics, and user sessions errors
  CLAUDE.md
  backend/internal/repository/clickhouse/trace_repo.go
  frontend/src/pages/traces/index.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

WIP
  backend/internal/api/handlers/dashboard.go
  backend/internal/database/migrations/000011_dashboards.up.sql
  backend/internal/repository/clickhouse/trace_repo.go
  frontend/src/pages/dashboard/guardrails-analytics.tsx
  frontend/src/pages/dashboard/prompt-performance.tsx
  frontend/src/pages/dashboard/usage-analytics.tsx
  frontend/src/pages/dashboards/builder.tsx
  frontend/src/pages/dashboards/index.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

WIP
  backend/internal/repository/postgres/dataset_repo.go
  frontend/src/App.tsx
  frontend/src/api/annotations.ts
  frontend/src/api/client.ts
  frontend/src/api/datasets.ts
  frontend/src/components/features/layout/dashboard-layout-updated.tsx
  frontend/src/lib/utils.ts
  frontend/src/pages/datasets/detail.tsx
  frontend/src/pages/datasets/index.tsx
  frontend/src/pages/prompts/detail.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format

WIP
  backend/cmd/server/wire_gen.go
  backend/internal/api/grpc/otlp_service.go
  backend/internal/api/handlers/auth.go
  backend/internal/api/handlers/otlp.go
  backend/internal/api/handlers/trace.go
  backend/internal/api/middleware/auth.go
  backend/internal/domain/trace.go
  backend/internal/repository/postgres/api_key_repo.go
  backend/internal/service/auth_service.go
  backend/internal/service/enrichment.go
  backend/internal/service/sampler.go
  backend/internal/service/session_replay.go
  backend/internal/wire/repository.go
  backend/internal/wire/service.go
  docker-compose.yml
  frontend/src/api/api-keys.ts
  frontend/src/pages/settings/index.tsx
Due: go-fmt, go-imports, go-lint, ts-lint, ts-format
